.row
  .page-header.col-lg-12
    %h3 Your Apartments
.row
  .col-lg-12
    %p= link_to 'Add new', new_apartment_path, { class: 'btn btn-primary', role: 'button' }
.row
  = render 'user_apartments_list'
